.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* my css */
.items_in_cart{
  position:absolute;
  right: 18px;
  top: 13px;
  background-color: red;
  z-index: 1;
  width: 22px;
  font-size: 13px;
  border-radius: 50%;
}
.cart_icon{
  position:absolute;
  right: 20px;
  top: 5px;
  font-size: 50px;
}
.item{
  width: 500px;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #ccc;
  margin:10px 0 0 30px;
  border-radius: 10px;
}

.image_wraper{
  width: 100px;
}
.image_wraper img{
  width: 100%;
}
.btn button{
  padding: 5px 10px;
  color: #fff;
  background: red;
  border-radius: 20px;
  border: none;
  font-size: 20px;
}
.price span{
  color: red;
  margin: 5px;
}

/*my css  */



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
